
<section style="min-height:100vh;" class="d-flex  bg-main">

  <div class="container">

    <div class=" my-5">

      <div class="row align-items-center justify-content-center">



        <div class="col-md-6">
          <div class="shadow bg-light" style="border-radius: 10px;">
            <div class="px-4 pt-4 text-center pb-4 mb-3" style="border-top-right-radius: 10px;border-top-left-radius: 10px; background:#E61A58">

              <% if params[:voucher].present? %>
                <h4 class="text-light"><i class="fa fa-map-marker" aria-hidden="true"></i> saat ini kamu belanja di <%= Store.where(code: params[:voucher]).first.name.titleize rescue "nil"  %></h4>
              <% elsif params[:group].present? or !session[:group].nil? %>
               <h4 class="text-light"><i class="fa fa-map-marker" aria-hidden="true"></i> saat ini kamu belanja di <%=  params[:group].present? ? params[:group] : session[:group]  %></h4>
              <% else %>
                <h4 class="text-light"><i class="fa fa-map-marker" aria-hidden="true"></i> saat ini kamu belanja di <%= Store.where(code: session[:vcrcode]).first.name.titleize rescue "nil"  %></h4>
              <% end %>
            </div>

            <div class="px-4 pb-4">


              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field">
                <%= f.label :name,class:"mb-1" %>
                <%= f.text_field :name, placeholder:"Nama", class:"form-control mb-2", autofocus: true %>
              </div>

              <div class="field">
                <%= f.label :email,class:"mb-1" %>
                <%= f.email_field :email,  autocomplete: "email", class:"form-control mb-2" %>
              </div>

              <div class="field">
                <%= f.label :ktp, "Upload KTP" ,class:"mb-1" %>
                <%= f.file_field :ktp, class:"form-control mb-2" %>
              </div>



              <div class="field mb-3">
                <%= f.label :phone_number,class:"mb-1" %>
                <div class="input-group ">
                  <div class="input-group-prepend">
                    <div class="input-group-text">08</div>
                  </div>
                  <%= f.text_field :phone_number, placeholder:"", class:"form-control mb-2" %>
                </div>
                <small>*Dapatkan hadiah langsung pulsa Rp 10.000 untuk nomor ini </small>
              </div>


              <%= f.hidden_field :role, value: "CRM" %>
              <% if params[:voucher].present? %>

              <div class="field">
                <%= f.hidden_field :voucher_code, value: params[:voucher] %>
              </div>

              <% else %>

              <div class="field">
                <%= f.hidden_field :voucher_code, value: session[:vcrcode] %>
              </div>

              <% end %>

              <div class="field">
                <%= f.label :password , class:"mb-1" %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class:"form-control mb-2" %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation,class:"mb-1" %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control mb-2" %>
              </div>

              <div class="my-5">
                <%= f.submit "Daftar", class:"btn btn btn-main w-100" %>
                <br>
                <br>
                <p class="text-center" style="font-weight:900"><span>Sudah punya akun? silahkan  <a href="<%= new_user_session_path %>" class="text-primary">Login</a></p>
                </div>
                <% end %>
              </div>

              <% if params[:voucher].present? %>

              <% session[:vcrcode] = params[:voucher]  %>


              <% end %>

              <% if params[:group].present? %>
                <% session[:group] = params[:group]  %>
              <% end %>


            </div>





          </div>

        </div>
      </div>
    </div>

  </section>
