<%- model_class = Store -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <%= link_to t('.new', :default => t("helpers.links.new")),new_store_path,:class => 'btn btn-success mb-2'%>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><%= model_class.human_attribute_name(:id) %></th>
                  <th><%= model_class.human_attribute_name(:name) %></th>
                  <th><%= model_class.human_attribute_name(:group) %></th>
                  <th><%= model_class.human_attribute_name(:code) %></th>
                  <th>Total Tranksaksi</th>
                  <th><%=t '.actions', :default => t("helpers.actions") %></th>
                </tr>
              </thead>
              <tbody>
                <% @stores.each do |store| %>
                <tr>
                  <td><%= link_to store.id, store_path(store) %></td>
                  <td><%= store.name %></td>
                  <td><%= store.group %></td>
                  <td><%= store.code %></td>
                  <td><%= store.tickets.count %></td>
                  <td>
                    <%= link_to t('.show', :default => t("helpers.links.show")),
                    store_path(store), :class => 'btn btn-default btn-xs' %>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_store_path(store), :class => 'btn btn-default btn-xs' %>
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    store_path(store),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-xs btn-danger' %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h3 class="mb-2">Import Data</h3>
              <%= form_tag import_stores_path, multipart: true do %>
                <div class="input-group">
                  <div class="custom-file">
                    <%= file_field_tag :file %>
                  </div>
                  <div class="input-group-append">
                    <%= submit_tag "Upload", class:'btn btn-success' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.table').DataTable({
        "order": [[ 0, "desc" ]]
      });
    } );
  </script>
