<%- model_class = Store -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <section style=" " class="bg-main position-relative">

  <div class="row">
      <% Store.all.each do |x| %>
      <div class="col-md-4">
          <% ct = Store.where(code: x.code) %>
          <% if ct.count >= 2 %>
            <% ct.each do |y| %>
            <hr>
              <%= y.id %><br>
              <%= y.name %> <br>
              <%= y.code %><br>
              <a href="<%= edit_store_path(y) %>">edit</a>
              <hr>
            <% end %>
          <% else %>


          <% end %>
      </div>
      <% end %>
  </div>

  </section>


  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.table').DataTable({
        "order": [[ 0, "desc" ]]
      });
    } );
  </script>
