<h1>Hai <%= @ticket.user.name %></h1>
<p>Selamat kamu mendapat poin tambahan dan mendapat pulsa 10.000 rupiah</p>
<p>Kumpulkan poin sebanyak banykanya dengan belanja Produk 2 Ifree. di toko terpilih. 10 Orang dengan  Point Tertinggi akan mendapatkan hadiah samsung galaxy A30 tanpa di undi di akhir periode.
 *Berlaku untuk daerah Jawa dan Bali.</p>
