<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
    <h3 class="text-warning"><i class="fa fa-exclamation-triangle"></i> <%= pluralize(@user.errors.count, "error") %> </h3>
    <p>prohibited this user from being saved:</p>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @user, :html => { :class => "form-horizontal user" } do |f| %>
<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">

          <div class="col">
            <div class="form-group">
              <%=  f.label :name, :class => 'control-label' %>
              <%=  f.text_field :name, :class => 'form-control' %>
              <%= f.error_span(:name) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= f.label :email, :class => 'control-label' %> <small><i>Required</i></small>
              <%= f.text_field :email, :class => 'form-control', required: true %>
              <%=f.error_span(:email) %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <%= f.label :role, :class => 'control-label' %> <small><i>Required</i></small>
              <%= f.select :role, User::Roles.map {|r| [r.last.to_s, r.last.to_s] }, {:include_blank => '- Choose -'}, :class => 'form-control',:required => true %>
              <%=f.error_span(:role) %>
            </div>
          </div>
        </div>




        <div class="row">
          <div class="col">
            <%= f.label :password, :class => 'control-label' %> <small><i>Required</i></small>
            <%= f.password_field :password, :class => 'form-control', required:true %>
            <%=f.error_span(:password) %>
          </div>
          <div class="col">
            <%= f.label :password_confirmation, :class => 'control-label' %> <small><i>Required</i></small>
            <%= f.password_field :password_confirmation, :class => 'form-control', required:true %>
            <%=f.error_span(:password_confirmation) %>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <div class="form-group mt-3">
              <%= f.submit nil, :class => 'btn btn-success' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn btn-light' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
