<section class="bg-main pt-5 d-flex align-items-center" style="min-height:100vh;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class= "position-relative ">
          <div class="img-heading">
            <img src="<%= asset_url('bg-heading.png') %>" alt="" class="">
          </div>
          <div class="position-relative" style="z-index:89">
            <h2 class="heading" style="color:#E51959">Toko yang Berpartisipasi</h2>
          </div>
        </div>
      </div>
      <div class="col-md-12">



        <div class="mt-4">
          <h3>DANDAN</h3>
          <div class="card">
            <div class="card-body">
              <div class="table-responsive c">
                <table class="table table-bordered border-dark">

                  <thead>
                    <tr>
                      <th>Nama Toko</th>
                      <th>Kota</th>
                      <th>Alamat</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% Store.where("name LIKE ?", "%Dan+Dan%").each do |x| %>
                    <tr>
                      <td><%= x.name %></td>
                      <td><%= x.city %></td>
                      <td><%= x.address %></td>
                    </tr>
                    <% end %>
                  </tbody>

                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="mt-4">
          <h3>WATSONS</h3>

          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered border-dark">
                  <thead>
                    <tr>
                      <th>Nama Toko</th>
                      <th>Kota</th>
                      <th>Alamat</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% Store.where("name LIKE ?", "%WATSONS%").each do |x| %>
                    <tr>
                      <td><%= x.name %></td>
                      <td><%= x.city %></td>
                      <td><%= x.address %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">



        <div class="mt-4">
          <h3>VIVA APOTEK</h3>

          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered border-dark">
                  <thead>
                    <tr>
                      <th>Nama Toko</th>
                      <th>Kota</th>
                      <th>Alamat</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% Store.where(id: [1176..1286]).each do |x| %>
                    <tr>
                      <td><%= x.name %></td>
                      <td><%= x.city %></td>
                      <td><%= x.address %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">



        <div class="mt-4 mb-5">
          <h3>Apotik</h3>

        <div class="card">
            <div class="card-body">
              <table class="table table-bordered border-dark">

                <thead>
                  <tr>
                    <th>Nama Toko</th>
                    <th>Kota</th>
                    <th>Alamat</th>
                  </tr>
                </thead>
                <tbody>
                  <% Store.where(id: [863..974]).each do |x| %>
                  <tr>
                    <td><%= x.name %></td>
                    <td><%= x.city %></td>
                    <td><%= x.address %></td>
                  </tr>
                  <% end %>
                </tbody>

              </table>
            </div>
        </div>

        </div>




      </div>

    </div>

  </div>
</section>
