<section id="howto" class="d-none d-md-block position-relative mt-0" >
  <div class="container">
    <div class="text-center position-relative mb-5">
      <div class="img-heading">
        <img src="<%= asset_url('bg-heading.png') %>" alt="" class="">
      </div>
      <div class="position-relative" style="z-index:89">
        <h2 class="heading">Cara Bergabung</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 text-center">
        <img src="<%= asset_url('hw1.png') %>" alt="" class="w-100">
      </div>
      <div class="col-md-3 text-center">
        <img src="<%= asset_url('hw2.png') %>" alt="" class="w-100">

      </div>
      <div class="col-md-3 text-center">
        <img src="<%= asset_url('hw3.png') %>" alt="" class="w-100">
      </div>
      <div class="col-md-3 text-center">
        <img src="<%= asset_url('hw4.png') %>" alt="" class="w-100">
      </div>
    </div>
  </div>
</section>

<section class="d-md-none position-relative" id="howto" class="d-flex align-items-center justify-content-center " style="margin-top:0">
  <div class="container">
    <div class="text-center position-relative mb-5">
      <div class="img-heading">
        <img src="<%= asset_url('bg-heading.png') %>" alt="" class="">
      </div>
      <div class="position-relative" style="z-index:89">
        <h2 class="heading">Cara Bergabung</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-7  ">
        <img src="<%= asset_url('hw1.png') %>" alt="" class="w-100">
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-8  ">
        <img src="<%= asset_url('hw2.png') %>" alt="" class="w-100">
      </div>
    </div>
    <div class="row">
      <div class="col-7  ">
        <img src="<%= asset_url('hw3.png') %>" alt="" class="w-100">
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-8  ">
        <img src="<%= asset_url('hw4.png') %>" alt="" class="w-100">
      </div>
    </div>
  </div>
</section>

<section class="bg-main pt-5 ">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <div class= "position-relative ">
          <div class="img-heading">
            <img src="<%= asset_url('bg-heading.png') %>" alt="" class="">
          </div>
          <div class="position-relative" style="z-index:89">
            <h2 class="heading" style="color:#E51959">Syarat & Ketentuan</h2>
          </div>
        </div>

        <ol class="py-5">
          <li>Untuk mendapatkan 1 voucher undian customer harus melakukan tranksaksi 2 box produk ifree.</li>
          <li>Setiap customer wajib mengisi data diri, bukti transaksi dan foto prosuk kedalam website.</li>
          <li>Pemenang akan dipilih berdasarkan poin pembelian terbanyak yang bisa dilihat di website www.siapaktiflagi.com.</li>
          <li>Jika ada transaksi yang dianggap tidak valid atau tidak lengkap maka tim admin Ifree berhak menolak data transaksi konsumen yang telah di upload ke website. </li>
          <li>Kuota pulsa 10,000 hanya berlaku untuk 8,000 pembeli pertama. Pembeli selanjutnya hanya bisa mengikuti program poin berhadiah smartphone.</li>
          <li>Program ini tidak berlaku untuk keluarga besar Caplang Group, Pihak Toko yang terlibat, agency dan semua tim yang terkait dalam program campaign ini.</li>
          <li>Periode Program berlaku mulai 1 Juni - 31 Juli.</li>
        </ol>

      </div>
      <div class="col-md-6" style="display: flex;align-items: flex-end;">
        <img src="<%= asset_url('ifree-shop2 1.png') %>" alt="" class="w-100" s>
      </div>
    </div>

  </div>
</section>
