<section style=" " class="bg-main position-relative">

  <div class="d-none d-md-block">
    <img src="<%= asset_url('hero-section.png') %>" alt="" class="w-100">

    <div class="btn-container">
      <div class="container" style="margin-left:20%;">
        <a href="#howto" class="btn btn-main">Ambil Hadiahnya Sekarang!</a>
      </div>
    </div>
  </div>

  <div class="w-100 d-md-none">
    <img src="<%= asset_url('heromobile.png') %>" alt="" class="w-100">
    <div class="btn-container" style="height:0; top:63vh">
      <div class="container" style="text-align: center;">
        <a href="<%= new_user_session_path %>" class="btn btn-main">Ambil Hadiahnya Sekarang!</a>
      </div>
    </div>
  </div>
</section>



<section class="d-none d-md-block position-relative" id="howto" class="d-flex align-items-center justify-content-center ">
  <div class="container">
    <div class="text-center position-relative mb-5">
      <div class="img-heading">
        <img src="<%= asset_url('bg-heading.png') %>" alt="" class="">
      </div>
      <div class="position-relative" style="z-index:89">
        <h2 class="heading">Cara Bergabung</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 text-center">
        <img src="<%= asset_url('hw1.png') %>" alt="" class="w-100">
      </div>
      <div class="col-md-3 text-center">
        <img src="<%= asset_url('hw2.png') %>" alt="" class="w-100">

      </div>
      <div class="col-md-3 text-center">
        <img src="<%= asset_url('hw3.png') %>" alt="" class="w-100">
      </div>
      <div class="col-md-3 text-center">
        <img src="<%= asset_url('hw4.png') %>" alt="" class="w-100">
      </div>
    </div>
  </div>
</section>

<section class="d-md-none position-relative" id="howto" class="d-flex align-items-center justify-content-center " style="margin-top:0">
  <div class="container">
    <div class="text-center position-relative mb-5">
      <div class="img-heading">
        <img src="<%= asset_url('bg-heading.png') %>" alt="" class="">
      </div>
      <div class="position-relative" style="z-index:89">
        <h2 class="heading">Cara Bergabung</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-7  ">
        <img src="<%= asset_url('hw1.png') %>" alt="" class="w-100">
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-8  ">
        <img src="<%= asset_url('hw2.png') %>" alt="" class="w-100">
      </div>
    </div>
    <div class="row">
      <div class="col-7  ">
        <img src="<%= asset_url('hw3.png') %>" alt="" class="w-100">
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-8  ">
        <img src="<%= asset_url('hw4.png') %>" alt="" class="w-100">
      </div>
    </div>


  </div>
</section>

<section class="py-5 text-center" style="background:#2A0D4A">
  <div class="container">
      <div class="row align-items-center">
        <div class="col-md-3">

            <img src="<%= asset_url('ifree-girls2.png') %>" alt="" class="w-100">

        </div>
        <div class="col-md-9">
          <h2 style="color:white;" >Untuk Kamu yang sudah belanja minimal 2 produk iFree, kamu dapat melakukan Redem Poin dengan memilih toko tempat kamu belanja dibawah ini:</h2>

          <a href="<%= new_registration_path(User, group: "DANDAN") %>">
            <img src="<%= asset_url('logo-dandan.png') %>" alt="logo dandan" class="m-3" style="width:150px;">
          </a>

          <a href="<%= new_registration_path(User, group: "VIVA") %>">
            <img src="<%= asset_url('logo-viva.png') %>" alt="logo viva" class="m-4" style="width:150px;">
          </a>

          <a href="<%= new_registration_path(User, group: "WATSONS") %>">
            <img src="<%= asset_url('logo-watsons.png') %>" alt="logo viva" class="m-4" style="width:150px;">
          </a>

          <a href="<%= new_registration_path(User, group: "APOTEK") %>" class="m-4 btn btn-main">
            Apotik Lainnya
          </a>

        </div>
      </div>
  </div>
</section>

<section class="bg-main pt-5 ">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <div class= "position-relative ">
          <div class="img-heading">
            <img src="<%= asset_url('bg-heading.png') %>" alt="" class="">
          </div>
          <div class="position-relative" style="z-index:89">
            <h2 class="heading" style="color:#E51959">Syarat & Ketentuan Program #siapaktiflagi</h2>
          </div>
        </div>

        <ol class="py-5">
          <li>Untuk mendapatkan 1 poin undian Smartphone Samsung A30 dan gratis pulsa Rp. 10.000,- customer harus melakukan tranksaksi 2 box produk ifree.</li>
          <li>Setiap customer yang mengikuti program ini wajib mengisi data diri, bukti transaksi dan foto produk melalui website www.siapaktiflagi.com atau scan QR code di store yang berpartisipasi.</li>
          <li>10 Pemenang Smartphone  Samsung A30 akan dipilih berdasarkan poin pembelian terbanyak yang bisa dilihat di website www.siapaktiflagi.com.</li>
          <li>Jika ada transaksi yang dianggap tidak valid atau tidak lengkap maka tim admin Ifree berhak menolak data transaksi konsumen yang telah di upload ke website.</li>
          <li>Kuota pulsa 10,000 hanya berlaku untuk 8,000 pembeli pertama. Pembeli selanjutnya hanya bisa mengikuti program poin berhadiah 10 unit Smartphone Samsung A30. </li>
          <li>Program ini tidak berlaku untuk keluarga besar Caplang Group, Pihak Toko yang terlibat, agency dan semua tim yang terkait dalam program campaign ini.</li>
          <li>Periode Program berlaku mulai 1 Juni - 31 Juli 2021.</li>
        </ol>

        <div class="mb-5">
          <a href="<%= all_store_path %>" class="btn btn-main">Lihat Toko yang Berpartisipasi</a>
        </div>

      </div>
      <div class="col-md-6" style="display: flex;align-items: flex-end;">
        <img src="<%= asset_url('ifree-shop2 1.png') %>" alt="" class="w-100" s>
      </div>
    </div>

  </div>
</section>




<section class="py-5 text-light" style="background-color: #E61A58;">
  <div class="container">
    <div class="row align-items-center justify-content-between">
          <div class="col-md-6">
            <div class="row">
              <div class="w-100" style="">
                <video controls class="w-100">
                  <source src="<%= asset_url('video.mp4') %>" type="video/mp4">
                    <source src="<%= asset_url('video.mp4') %>" type="video/ogg">
                      Your browser does not support the video tag.
                    </video>
                  </div>
                  <!-- <div class="col-md-4">
                    <img src="<%= asset_url('ifree-girls2.png') %>" alt="" class="w-100">
                  </div> -->
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-center position-relative mb-5">
                  <div class="img-heading">
                    <img src="<%= asset_url('bg-heading.png') %>" alt="" class="">
                  </div>
                  <div class="position-relative" style="z-index:89">
                    <h2 class="heading">Apa Itu iFree ?</h2>
                  </div>
                </div>
                <div class="mt-3">
                  <h3 style="font-family: Lobster;">iFree, Pad Terapi Hangat</h3>
                  <p>iFree, pad terapi hangat ketika nyeri haid. Dengan proses alami OxyHeat, yang menimbulkan efek hangat sampai dengan 8 jam, efektif membantu mengurangi kram perut dan nyeri haid</p>
                  <p>Tinggal tempel, #siapaktiflagi</p>
                  <h4>Keunggulan iFree</h4>
                  <ol>
                    <li>Inovasi pad terapi hangat pertama di Indonesia Praktis (tinggal tempel)</li>
                    <li>Efektif (meredakan nyaeri haid, karena terapi hangat dapat  mengurangi ketegangan otot perut yang kram) </li>
                    <li>Dengan proses alami OxyHeat, langsung  hangat ketika terkena udara dan hangatnya tahan  sampai dengan 8 jam.</li>
                  </ol>
                  <div class="mt-5">
                    <img src="<%= asset_url('banner-campaign.png') %>" alt="" class="w-100">
                  </div>
                </div>
              </div>


        </div>
      </div>
    </section>

    <section class="bg-main py-5 ">
      <div class="container">
        <div class="text-center position-relative mb-5">
          <div class="img-heading">
            <img src="<%= asset_url('bg-heading.png') %>" alt="" class="">
          </div>
          <div class="position-relative" style="z-index:89">
            <h2 class="heading" style="color:#E51959">Cara Pemakaian</h2>
          </div>
        </div>
        <div class="mt-3">
          <div class="row justify-content-between">
            <div class="col-md-3">
              <img src="<%= asset_url('how-to-1.gif') %>" alt="" class="w-100 mb-3">
              <div class="d-flex">
                <div class="me-3 mt-3">
                  <h3 style="font-family: Lobster;color:#e61a58">1.</h3>
                </div>
                <div class="">
                  <h4>Buka kemasan iFree, pad akan menghangat saat terpapar udara</h4>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <img src="<%= asset_url('how-to-2.gif') %>" alt="" class="w-100 mb-3">
              <div class="d-flex">
                <div class="me-3 mt-3">
                  <h3 style="font-family: Lobster;color:#e61a58">2.</h3>
                </div>
                <div class="">
                  <h4>Lepaskan lapisan perekat pad.</h4>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <img src="<%= asset_url('how-to-3.gif') %>" alt="" class="w-100 mb-3">
              <div class="d-flex">
                <div class="me-3 mt-3">
                  <h3 style="font-family: Lobster;color:#e61a58">3.</h3>
                </div>
                <div class="">
                  <h4>Tempel pad pada bagian kram haid.</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <div class="row justify-content-between">
            <div class="col-md-12">
              <img src="<%= asset_url('heat-use.png') %>" alt="" class="w-100">
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="py-5 text-center" style="background:#2A0D4A">



      <p style="font-family: Lato; font-size: 18px; line-height: 22px; text-align: center;color: #FFFFFF;">Mulai bergabung dan kumpulkan poin kamu <br>
        untuk mendapatkan kesempatan memenangkan Grand Prize</p>

        <a href="<%= new_user_session_path %>" class="btn btn-main">Ambil Hadiahnya Sekarang!</a>

      </section>



      <!-- Modal -->
      <div class="modal fade" id="popupbanner" tabindex="-1" role="dialog" aria-labelledby="popupbannerTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg"  role="document">
          <div class="modal-content">

            <div class="modal-body p-0">
              <img src="<%= asset_url('popupbanner.jpeg') %>" alt="" class="w-100">
            </div>
            <div class="modal-footer justify-content-center">
              <a href="<%= howto_path %>" class="btn btn-main">Ambil Hadiahnya Sekarang!</a>
            </div>
          </div>
        </div>
      </div>
