
<section style="min-height:100vh;background:url('https://ifreeindonesia.com/wp-content/themes/ifree/assets/images/bg-form-reg-1.png')%>');background-color:#D0E1EB; padding:80px 0;" class="d-flex align-items-center justify-content-center">

<div class="container">

  <div class=" my-5">
    <div class="shadow p-4 bg-light text-center" style="border-radius: 10px;">
        <h3>Maaf, Kode Voucher Tidak di temukan</h3>
    </div>
  </div>
</div>

</section>
