<section style="min-height:100vh;background:url('https://ifreeindonesia.com/wp-content/themes/ifree/assets/images/bg-form-reg-1.png');background-color:#D0E1EB; padding:80px 0;" class="d-flex align-items-center justify-content-center">

  <div class="container">

    <div class=" my-5 w-75 m-auto">
        <div class="shadow p-4 bg-light" style="border-radius: 10px;">
      <div class="row align items-center">
        <div class="col-md-5 text-center">
          <h3 class="mb-4">Ranking Kamu Saat ini</h3>
          <div class="d-flex align-items-center justify-content-center m-auto" style="height:100px; width:100px;border: 10px solid #ffc2c9;border-radius:100%;" >
            <h3 style="margin:0;"><%= Ticket.where(store_id: current_user.store.id).where(status: "approve").sum(:point) %></h3>
          </div>
        </div>
        <div class="col-md-7">
          <div style="border-left:2px solid red" class="p-5">
            <h4>Customer yang Belanja Di sini</h4>
            <ol>
              <% x =  Ticket.joins(:user).where(status: "approve").where(store_id: current_user.store.id).group_by{|t| t.user.name}.map{|x| [x.first, x.last.count] }.sort_by{|c| -c.last} %>
              <% x.each do |y| %>
              <li> <strong><%= y.first.titleize rescue "-" %></strong> dengan jumlah Tranksaksi <b><%= y.last %></b></li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>










    </div>
  </div>


</section>
