<section class="bg-main pt-5 d-flex align-items-center" style="min-height:100vh;">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">

        <div class="card shadow" style="border-radius: 10px;">
          <div class="card-body p-3">



        <div class= "position-relative ">

          <div class="position-relative" style="z-index:89">
            <h2 class="heading" style="color:#E51959">Store Leaderbaords</h2>
          </div>
          <p class="mt-5">
            Berikut toko- toko dengan jumlah poin terbanyak. Tingkat terus poin toko kamu untuk mendapatkan hadiah.
          </p>
        </div>


        <table class="table table-borderless" >
          <thead>
            <tr>
              <th></th>
              <th>Nama Toko</th>
              <th>Total Poin</th>
            </tr>

          </thead>
          <tbody class="border-0">
            <% Store.joins(:tickets).where("tickets.status = ?", "approve" ).uniq.each_with_index do |x,i| %>
            <%# Store.all.order(created_at: :asc).limit(10).each_with_index do |x,i| %>
            <tr class="border-0" >
              <td><p class="rank-number"><%= i + 1 %></p></td>
              <td><p class="rank"><%= x.name  %></p></td>
              <td><p class="rank" ><%=  x.tickets.count  %></p></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>


      </div>
      <div class="col-md-6" style="display: flex;align-items: flex-end;">
        <img src="<%= asset_url('ifree-girls2.png') %>" alt="" class="w-100" s>
      </div>
    </div>

  </div>
</section>
