<section class="bg-main pt-5 d-flex align-items-center" style="min-height:100vh;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <div class= "position-relative ">
          <div class="img-heading">
            <img src="<%= asset_url('bg-heading.png') %>" alt="" class="">
          </div>
          <div class="position-relative" style="z-index:89">
            <h2 class="heading" style="color:#E51959">Syarat & Ketentuan Program #siapaktiflagi</h2>
          </div>
        </div>

        <ol class="py-5">
          <li>Untuk mendapatkan 1 poin undian Smartphone Samsung A30 dan gratis pulsa Rp. 10.000,- customer harus melakukan tranksaksi 2 box produk ifree.</li>
          <li>Setiap customer yang mengikuti program ini wajib mengisi data diri, bukti transaksi dan foto produk melalui website www.siapaktiflagi.com atau scan QR code di store yang berpartisipasi.</li>
          <li>10 Pemenang Smartphone  Samsung A30 akan dipilih berdasarkan poin pembelian terbanyak yang bisa dilihat di website www.siapaktiflagi.com.</li>
          <li>Jika ada transaksi yang dianggap tidak valid atau tidak lengkap maka tim admin Ifree berhak menolak data transaksi konsumen yang telah di upload ke website.</li>
          <li>Kuota pulsa 10,000 hanya berlaku untuk 8,000 pembeli pertama. Pembeli selanjutnya hanya bisa mengikuti program poin berhadiah 10 unit Smartphone Samsung A30. </li>
          <li>Program ini tidak berlaku untuk keluarga besar Caplang Group, Pihak Toko yang terlibat, agency dan semua tim yang terkait dalam program campaign ini.</li>
          <li>Periode Program berlaku mulai 1 Juni - 31 Juli 2021.</li>
        </ol>


      </div>
      <div class="col-md-6" style="display: flex;align-items: flex-end;">
        <img src="<%= asset_url('ifree-shop2 1.png') %>" alt="" class="w-100" s>
      </div>
    </div>

  </div>
</section>
