
<section style="min-height:100vh;" class="d-flex  bg-main">

  <div class="container-fluid">

    <div class=" my-5">

      <div class="row align-items-center justify-content-center">



        <div class="col-md-4">
          <div class="shadow bg-light" style="border-radius: 10px;">
            <div class="px-2 pt-2 text-center pb-2 mb-3" style="border-top-right-radius: 10px;border-top-left-radius: 10px; background:#E61A58">
              <h4 class="text-light mb-0 ">Profile Kamu</h4>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="px-4 pt-2">
                  <div class="mb-2">
                    <p class="mb-0 text-muted" style="font-size:14px; font-weight:900">Nama</p>
                    <p style="font-size:20px; font-weight:900;margin-bottom:0;"><%= @user.name %></p>
                  </div>
                  <div class="mb-2">
                    <p class="mb-0 text-muted" style="font-size:14px; font-weight:900">Nomor Telepon</p>
                    <p style="font-size:20px; font-weight:900;margin-bottom:0;"><%= @user.phone_number %></p>
                  </div>
                  <div class="mb-2">
                    <p class="mb-0 text-muted" style="font-size:14px; font-weight:900">Alamat Email</p>
                    <p style="font-size:20px; font-weight:900;margin-bottom:0;"><%= @user.email %></p>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="px-4 pt-2">
                  <p class="mb-0 text-muted text-center mb-3" style="font-size:14px; font-weight:900">Jumlah Poin Kamu</p>
                  <div class="d-flex align-items-center justify-content-center m-auto" style="height:100px; width:100px;background:#e8406b;border-radius:100%;" >
                    <h3 style="margin:0;color:white"><%= @user.tickets.sum(:point) %></h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="px-4 pb-4">
              <hr>
              <p class="mb-0 text-muted mb-3" style="font-size:14px; font-weight:900">Histori Belanja</p>

              <table class="table table-striped table-bordered" style="border-radius:10%  ">
                <tbody>
                  <% Ticket.where(user_id: @user.id).where(status: "approve").each do |tc| %>
                  <tr>
                    <th><p class="mb-0 text-muted" style="font-size:8px; font-weight:900"><%= tc.created_at %></p>
                    <p style="font-size:14px; font-weight:900;margin-bottom:0;"><%= tc.store.name.titleize rescue "-" %></p></th>
                  </tr>
                    <% end %>
                </tbody>
              </table>

              <div class="mb-4">
                <a href="<%= root_path %>" class="btn btn-main w-100" >Kembali ke Halaman Utama</a>
              </div>

            </div>





          </div>
        </div>
      </div>
    </div>
  </div>

</section>
