<%= form_with(model: ticket, local: true) do |f| %>
<% if ticket.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

  <ul>
    <% ticket.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field mb-5">
  <%= f.label :proff_of_payment, "Foto Struk Belanja" ,class:"mb-1" %>
  <%= f.file_field :proff_of_payment, class:"form-control mb-2" %>
  <small class="mb-3">*pastikan foto struk belanja Anda terlihat dengan jelas</small>
</div>
<div class="mb-5">
  <%= f.label :store, "Pilih Toko Tempat Kamu Belanja" ,class:"mb-1" %>
  <%= f.select :store_id, Store.where(group: [[params[:group],session[:group]]]).map {|s| [s.name.titleize, s.id ]},{:include_blank => 'Pilih Toko'}, :class=>"form-control w-100 select2"%>
  </div>

<div class="field mb-3">
  <%= f.label :image_product, "Foto produk iFree" ,class:"mb-1" %>
  <%= f.file_field :image_product, class:"form-control mb-2" %>

</div>

<p><input id="field_terms" onchange="this.setCustomValidity(validity.valueMissing ? 'Please indicate that you accept the Terms and Conditions' : '');" type="checkbox" required name="terms"> Saya menyetujui  <a href="<%= tnc_path %>" target="_blank"><u>Syarat dan Ketentuan yang Berlaku</u></a></p>



<% if params[:voucher].present? %>

<% session[:vcrcode] = params[:voucher]  %>


<% end %>

<% if params[:group].present? %>

  <% session[:group] = params[:group] %>

<% end %>

<%= f.hidden_field :status, value:"new" %>

<div class="actions my-3">

  <button type="submit" value="Submit" class="btn btn-main w-100">Upload</button>
</div>
<% end %>
