<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-7">
          <h3>Foto Produk</h3>
          <hr>
          <img src="<%= @ticket.image_product %>" alt="" class="w-100">
          <h3>Bukti Pembayaran <span class="badge bg-danger text-light"><%= @ticket.status %></span></h3>
          <hr>
          <img src="<%= @ticket.proff_of_payment %>" alt="" class="w-100 mb-4">

        </div>
        <div class="col-md-4" style="height:100%;">
          <div class="sticky-top" style="top:0">
            <h3>Customer Detail</h3>
            <hr>
            Name: <%= @ticket.user.name %> <br>
            Phone Number: <%= @ticket.user.phone_number %> <br>
            Email: <%= @ticket.user.email %>
            <img src="<%= @ticket.user.ktp %>" alt="" class="w-100">
            <hr>
            <h3>Store</h3>
            <hr>
            <%= @ticket.store.name.titleize %>
            <div class="mb-3">
              <hr>
              <h3>Transaction Number</h3>
              <hr>
              <%= @ticket.transaction_number %>
              <hr>
              <h3>Jumlah Produk</h3>
              <hr>
              <%= @ticket.product_count %>
            </div>
            <hr>
            <%= form_for @ticket, :html => { :class => "form-horizontal store" } do |f| %>
            <%= f.submit "Approve Ticket", name: "approve", :class => 'btn btn-success' %>
            <%= f.submit "Reject this Ticket",name: "reject", :class => 'btn btn-outline-danger' %>
            <div class="mt-3">
              Alasan ditolak
              <%= f.text_area :reason, class: "form-control", placeholder: "Hanya diisi apabila ingin menolak tiket ini (contoh: nomor struk tidak terlihat, jumlah barang tidak sesuai, foto produk tidak jelas)", rows: 10 %>
            </div>
            <% end %>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
