<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <% Ticket.where(transaction_number: @ticket.transaction_number).each_with_index do |x, index| %>

        <div class="col">
          <div class="row">
            <div class="col-md-12">

              <h3>Foto Produk</h3>
              <hr>
              <img src="<%= x.image_product %>" alt="" class="w-100">

              <h3>Bukti Pembayaran <span class="badge bg-danger text-light"><%= x.status %></span></h3>
              <hr>
              <img src="<%= x.proff_of_payment %>" alt="" class="w-100 mb-4">

            </div>
            <div class="col-md-12" style="height:100%;">
              <div class="sticky-top" style="top:0">
                <h3>Customer Detail</h3>
                <hr>
                Name: <%= x.user.name %> <br>
                Phone Number: <%= x.user.phone_number %> <br>
                Email: <%= x.user.email %>
                <img src="<%= @ticket.user.ktp %>" alt="" class="w-100">
                <hr>
                <h3>Store</h3>
                <hr>
                <%= x.store.name.titleize %>
                <div class="mb-3">
                  <hr>
                  <h3>Transaction Number</h3>
                  <hr>
                  <%= x.transaction_number %>
                  <hr>
                  <h3>Jumlah Produk</h3>
                  <hr>
                  <%= @ticket.product_count %>
                </div>
                <hr>
            </div>
            <% if index+1 == len %>
            <%= form_for @ticket, :html => { :class => "form-horizontal store" } do |f| %>
            <%= f.submit "Approve Ticket", name: "approve", :class => 'btn btn-success' %>
            <%= f.submit "Reject this Ticket",name: "reject", :class => 'btn btn-outline-danger' %>
            <div class="mt-3">
              Alasan ditolak
              <%= f.text_area :reason, class: "form-control", placeholder: "Hanya diisi apabila ingin menolak tiket ini (contoh: nomor struk tidak terlihat, jumlah barang tidak sesuai, foto produk tidak jelas)", rows: 10 %>

            </div>
            <% end %>
            <% end %>
          </div>
        </div>
        </div>



        <% end %>
      </div>
    </div>
  </div>
</div>
