<%- model_class = Ticket -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => [:'helpers.titles.new', 'Edit %{model}'], :model => "Ticket" %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><a href="<%= stores_path %>"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></a></li>
            <li class="breadcrumb-item">
              <%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<% if @ticket.errors.any? %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
    <h3 class="text-warning"><i class="fa fa-exclamation-triangle"></i> <%= pluralize(@ticket.errors.count, "error") %> </h3>
    <p>prohibited this ticket from being saved:</p>
    <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @ticket.status == "onprogress" %>
<% len = Ticket.where(transaction_number: @ticket.transaction_number).count %>
<% if len > 1 %>

<%= render 'onpgck', len: len %>


<% else %>

<%= render 'ongone' %>


<% end %>


<% else %>
<%= render 'connew' %>



<% end %>
