<%- model_class = Ticket -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <%= link_to t('.new', :default => t("helpers.links.new")),new_store_path,:class => 'btn btn-success mb-2'%>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><%= model_class.human_attribute_name(:id) %></th>
                  <th><%= model_class.human_attribute_name(:user_id) %></th>
                  <th><%= model_class.human_attribute_name(:store_id) %></th>
                  <th><%= model_class.human_attribute_name(:status) %></th>
                  <th>Point</th>
                  <th>Reject</th>
                  <th><%= model_class.human_attribute_name(:created_at) %></th>
                  <th><%=t '.actions', :default => t("helpers.actions") %></th>
                </tr>
              </thead>
              <tbody>
                <% @tickets.each do |ticket| %>
                <tr>
                  <td><%= link_to ticket.id, ticket_path(ticket) %></td>
                  <td><%= ticket.user.name %></td>
                  <td><%= ticket.store.name rescue '' %></td>
                  <td><%= ticket.status %></td>
                  <td><%= ticket.point %></td>
                  <td><%= ticket.reason %></td>
                  <td><%=l ticket.created_at %></td>
                  <td>
                    <%= link_to t('.edit', :default => t("show")),
                    edit_ticket_path(ticket), :class => 'btn btn-default btn-xs' %>
                    <%# <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    ticket_path(ticket),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-xs btn-danger' %> 
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.table').DataTable({
        "order": [[ 0, "desc" ]]
      });
    } );
  </script>
