
<section class=" bg-main d-flex justify-content-center align-items-center " style="min-height:100vh;" >



  <div class="row w-100 justify-content-center align-items-center">

    <div class="col-md-4">

        <div class="shadow p-4 bg-light" style="border-radius: 10px;">
          <h1 class="text-center" >Maaf</h1>

          <p class="text-center">Periode Event Telah Berakhir</p>




        </div>


    </div>





</div>


</section>
