
<section class=" bg-main d-flex justify-content-center align-items-center " style="min-height:100vh;" >



  <div class="row w-100 justify-content-center align-items-center">

    <div class="col-md-4">

        <div class="shadow p-4 bg-light" style="border-radius: 10px;">
          <h1 class="text-center" >Terima Kasih!</h1>

          <p class="text-center">Kami akan melakukan verifikasi poin Anda. Hadiah akan diberikan paling lambat 2x24 jam. Status poin Andaakan dikirimkan melalui email. </p>



          <a href="/profile" class="btn btn-main w-100">
            Cek Poin Kamu
          </a>
        </div>


    </div>





</div>


</section>
