<section style="min-height:88vh;" class="d-flex  bg-main">


  <div class="row w-100 align-items-center justify-content-center">


    <div class="col-md-5">
      <div class="shadow bg-light" style="border-radius: 10px;">
        <div class="px-4 pt-4 text-center pb-4 mb-3" style="border-top-right-radius: 10px;border-top-left-radius: 10px; background:#E61A58">
          <h4 class="text-light"> Silahkan login untuk melihat poin dan menangkan Samsung A30</h4>
        </div>

        <div class="px-4 pb-4">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control mb-2" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password",class:"form-control mb-2" %>
          </div>

          <div class="mb-3">
            <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <% end %>
          </div>
          <div class="actions">
            <%= f.submit "Login ", class:"btn btn-main w-100" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
