/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 *= require font-awesome
 */

 body{
   font-family: 'Lato', sans-serif;
   font-weight: 300;
 }

 a{
   text-decoration: none;
 }

 .txt-green{
   color: #e8406b;
 }

.font-pd{
  font-family: 'Playfair Display', serif;
}

.nav-top{
  background: none ;
}

.navbar-brand{

  top: 5px;
  left: 0;
}

.mn-btn{
  color: #e8406b !important;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid  #e8406b;
}

.mn-btn:hover{
  background: #e8406b;
  color: white !important;
  border: 1px solid  #e8406b;
  box-shadow: 0px 10px 25px -1px rgba(230, 26, 88, 0.4);
}

.nav-top .nav-item a{

  font-weight: 900;
  padding: 10px 20px !important;
}


.arrows {
	width: 60px;
	height: 72px;

}

.arrows path {
	stroke: #ce9139;
	fill: transparent;
	stroke-width: 1px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

#tnc li{
  color: white;
  font-size: 20px;
}

.uploader {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  font-size: 1.25rem;
background-color: #c8dadf;
position: relative;
padding: 100px 20px;
}

.bg-main{
  background-color: #FAD0DA;
}

.btn-main, .btn-main:hover{
  background: #F77B0A;
  border-radius: 100px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  padding: 10px 20px;
}

.btn-main:hover{
  background: #F77B0A;
  box-shadow: 0px 10px 25px -1px rgba(247, 123, 10, 0.4);
  border-radius: 100px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  padding: 10px 20px;
}

.btn-container{
  position: absolute;
    /* left: 15%; */
    /* bottom: 380px; */
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    top: 0;
}

#howto{
  background-color: #E61A58;
  margin-top: -50px;
  padding: 40px 0
}
.heading{
  font-family: Lobster;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 60px;
color: white;
text-transform: capitalize;
}

.img-heading{
  position: absolute;
  width: 100%;
  display:flex;
  justify-content: center;
  top: -25px;

}

.form-control{
  background: #E5E5E5;
border: 1px solid #C4C4C4;
box-sizing: border-box;
border-radius: 10px;
}

.menu-mobile-triger-open{
  z-index: 90;
  position: fixed;
  top: 0;
  right: 0;
  /* padding: 10px; */
  width: 50px;
  height: 50px;
  margin: 5px 10px;
  background: #652f7d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.navbar{
  z-index: 90;
}

.menu-mobile-triger-close{
  z-index: 90;
  position: absolute;
  top: 0;
  right: 0;
  /* padding: 10px; */
  width: 50px;
  height: 50px;
  margin: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.menu-mobile-overlay{
  position: fixed;
  width: 100%;
  height: 0;
  z-index: 99;
  overflow-x: hidden;
  transition: 0.5s;
}

.menu-mobile-overlay ul{
  text-align: center;
  list-style: none;
  padding: 0 20px;

}
.menu-mobile-overlay ul li{
  margin-bottom: 20px;
}

.menu-mobile-overlay ul li a{
  color: black;
  font-weight: 700;
}

.menu-footer{
  background: #E61A58;
}

.vdv-inx{
  margin-left:-30%;margin-top:70px
}

.vdv-inx video{
  width: 130%;
}

.rank{
  font-size: 18px;
  font-weight: 900;
}

.rank-number{
  font-family: Lobster;
  font-size: 25px;
  color: #E51959;
}


@media (max-width: 575.98px) {



  .bg-mobile{
    background: none !important;
  }

  .vdv-inx{
    margin-left:0;
    margin-top:0;
    margin-bottom: 40px;
  }

  .vdv-inx video{
    width: 100%;
  }

 }


@media (min-width: 576px) and (max-width: 767.98px) {  }


@media (min-width: 768px) and (max-width: 991.98px) {  }


@media (min-width: 992px) and (max-width: 1199.98px) {  }


@media (min-width: 1200px) {  }
