<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @voucher.code %>
</p>

<p>
  <strong>Type:</strong>
  <%= @voucher.voucher_type %>
</p>

<p>
  <strong>Store:</strong>
  <%= @voucher.store.name %>
</p>

<%= link_to 'Edit', edit_voucher_path(@voucher) %> |
<%= link_to 'Back', vouchers_path %>
